body {
  background-color: #fffcf9;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
}

#main_page {
  color: #085096;
}

#early_years_page {
  color: #655748;
}

#paris_page {
  color: #4F7567;
}

#arles_page {
  color: #B99A08;
}

#saint_remy_page {
  color: #296185;
}

#auvers_page {
  color: #113B61;
}

h1, h2, h3, h4, h5, h6 {
  padding-left: 2vw;;
}

nav, main, footer {
  margin: 2vh 2vw;
}

/* Navigation */
nav > div {
  display: inline-block;
  width: 15%;
  padding: 3vh 0vw 3vh 0vw;
  background-color: #fcf8f2;
  box-shadow: 3px 3px #e7ce9f;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

nav a {
  font-size: 85%;
  color: inherit;
  text-decoration: none;
}

nav div:hover {
  font-style: italic;
  font-weight: bolder;
}

#main_page nav div.active {
  background-color: #085096;
  color: #fffcf9;
}

#early_years_page nav div.active {
  background-color: #655748;
  color: #fffcf9;
}

#paris_page nav div.active {
  background-color: #4F7567;
  color: #fffcf9;
}

#arles_page nav div.active {
  background-color: #B99A08;
  color: #fffcf9;
}

#saint_remy_page nav div.active {
  background-color: #296185;
  color: #fffcf9;
}

#auvers_page nav div.active {
  background-color: #113B61;
  color: #fffcf9;
}

/* Main content of the first page */
main.map_page > div {
  display: inline-block;
  vertical-align: top;
}

#map {
  width: 60vmin;
  height: 60vmin;
  background-image: url("images/Vincent_van_Gogh_main_cities_v1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  box-shadow: 3px 3px #e7ce9f;
}

#text {
  width: 75vmin;
  padding-left: 2vmin;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}

#legend {
  width: 30vmin;
}

#legend ul {
  list-style-type: none;
  padding-left: 2vmin;
}

#legend div,
#legend svg {
  display: inline;
  vertical-align: middle;
}

/* Pictures display */
main.pictures {
  width: 150vmin;
}

main.pictures img,
main.pictures ul {
  display: inline-block;
  vertical-align: top;
  padding: 1vmin;
}

main.pictures ul {
  width: 45vmin;
  font-size: 95%;
  margin-top: 0px;
}

main.pictures ul mark {
  color: inherit;
  background-color: inherit;
  font-weight: bold;
}

img.vertical {
  /* width: 30vmin;
  height: 40vmin; */
  width: 26vmin;
  height: 35vmin;
}

img.horizontal {
  /* width: 55vmin;
  height: 40vmin; */
  width: 48vmin;
  height: 35vmin;
}

/* Footer: data sources and author information */
footer {
  font-size: 85%;
}

footer summary {
  font-weight: bold;
}

footer ul {
  margin-top: 0px;
}

footer a {
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
}
